.Homepage1{
    background-image:url("https://corf-react.envytheme.com/img/home-one/home-one-banner-bg.jpg");
    // margin: 10px;
  // border: 5px black;
  // width: auto;
  // height: 100%;
}

.Hompage1-Text {
    text-align: left;
    margin-left: -2% !important;
    margin-top: 20% !important;
    color: white !important;
}

.Homepage1-img {
    margin-left: 60% !important;
    margin-top: -6% !important;
    width: auto;
    height: 200px;
    position: unset;
    animation-name: fadeInUp !important;
    visibility: visible !important;
    animation-delay: 1s !important;
    margin-left: auto;
    right: 0;
    // background-image: url('https://corf-react.envytheme.com/img/home-one/home-one-shape.png');
}

.Homepage1-card {
  background-color: #a3eff3;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 4px 4px 0 0;
  padding: 50px;
  box-shadow:none !important;
 
  
  }

// bullet: {
//     display: 'inline-block',
//     margin: '0 2px',
//     transform: 'scale(0.8)',
//   },
.Homepage-card-title {
    font-size: 18;
  }
.Homepage1-card-pos {
    margin-bottom: 12;
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

  .Homepage-icon {
    border: 1px dashed #0cb8b6;
    background-color: #fff;
    max-width: 70px !important;
    max-height: 70px !important;
    line-height: 70px;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: #0cb8b6;
    position: relative;
    left: 0;
    top: 0;
}

.Homepage-lovedocImage {
  position: relative;
right: 0;
top: 0;
// opacity: -0.5;
z-index: -1;
background-image: url('https://corf-react.envytheme.com/img/shape/shape1.png');
background-repeat: no-repeat;
}

.Homepage4-main {
  text-align: center;
  justify-content: center;
}

.Homepage-carousel {
  width: '10%' !important;
  height: '90%' !important;
}

.Homepage2{
  margin-top:58px !important;
  // margin-left:10% !important;
}
.Homepage2-card{
   border: 1px dashed #0cb8b6;
       padding: 30px;
 position: relative;
 transition: all .5s;
}
.Homepage2-card {
   background-image:url('https://corf-react.envytheme.com/img/facility-img/facility-shape-img.png');
   background-repeat:no-repeat;
   background-size: 50%;
   box-shadow:none !important;
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
}
.Homepage2 img.icon{
 width: 20%;
 margin-bottom: 22px;
}
Button:hover{
background-color:#fff !important;
}
.Homepage2 :hover {
 
 transform: translateY(-1px);
}
.Homepage2-card:before {
 opacity: 1;
}
.Homepage2-card:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 background-image: url("https://corf-react.envytheme.com/img/facility-img/facility-shape-img.png");
 background-position: top;
 background-size: contain;
 background-repeat: no-repeat;
 height: 165px;
 width: 165px;
 z-index: -1;
 opacity: .2;
 -webkit-transition: all .5s;
 transition: all .5s;
}
.Homepage2-card-pos{
 margin-bottom: 20px;
}
.shape-1 {
 position: absolute;
 top: 0;
 left: -30px;
 z-index: -1;
}
.shape-2 {
 position: absolute;
 left: -250px;
 top: 0;
 -webkit-animation: moveBounce 5s linear infinite;
 animation: moveBounce 5s linear infinite;
}
.shape-3 {
 position: absolute;
 top: -50px;
 right: -50px;
 z-index: -1;
}
.Homepage6 {
  background-image: url('https://corf-react.envytheme.com/img/footer-bg.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-color: #001430;
    font-size: 14px;
    line-height: 1.8;
    font-family: Lato,sans-serif;
    color: white; 
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.Homepage6-list {
  margin-left:'10%';
  margin-right:'10%'
}
.Homepage-carousel {
  border-radius: 450px 0px 400px 350px !important;
  -webkit-tap-highlight-color: transparent;
  position: relative;
    width: 100%;
    z-index: 1;

}

.Homepage5-main {
  text-align: center;
  justify-content: center;
  background-image: url('https://corf-react.envytheme.com/img/work-bg.jpg');

}
.Homepage5-workImage{
    position: relative;
    top: 0;
    right: 0;
    z-index: 999;
    -webkit-animation: moveBounce .5s linear infinite;
    animation: moveBounce .5s linear infinite;
}

.Contact-home {
  background-color: #f1f9fd;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Contactus-left {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.Contactus-right {
  background-image: url('https://corf-react.envytheme.com/img/emergency.jpg');
    // background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width:auto;
}

.ClientTalk-hom{
  background-image: url('https://corf-react.envytheme.com/img/client/client-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.ClientTalk-container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
//homepage 3
  .Homepage3{
    align-items: center;
    justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  }
  .MuiCardActions-root.MuiCardActions-spacing {
    justify-content: center;
}
.MuiGrid-root.Homepage3.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-12.MuiGrid-grid-lg-12 {
  margin-left: 9%;
  padding-right: 19%;
}
Homepage3-heading{
  padding-top: 30px;
}
.MuiGrid-root.Homepage3-heading {
  margin-top: 20px;
}
.Homepage3-card {
  border-radius: 5px 5px 64px 5px !important;
  max-height: 100%;
  box-shadow: 1px 1px 2px 4px #fffafa;
  border: 1px solid #ddd;

}
.Homepage3-imagelove{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    background-image: url('https://corf-react.envytheme.com/img/services-card-shape.png');
}
.MuiCardActions-root.MuiCardActions-spacing {
  padding-bottom: 58px;
}
h5.MuiTypography-root.Homepage-card-title.MuiTypography-h5.MuiTypography-gutterBottom {
  margin-top: 26px;
}
.MuiGrid-root.Homepage-imagelove {
  position: absolute;
  left: 16%;
  opacity: 0.5;
}
.MuiGrid-root.Homepage-imagelove2 {
  position: absolute;
  left: 43%;
  opacity: 0.5;
}
.MuiGrid-root.Homepage-imagelove3 {
  position: absolute;
  left: 70%;
  opacity: 0.5;
}
.MuiGrid-root.Homepage-imagelove5 {
  position: absolute;
  left: 43%;
  opacity: 0.5;
}
.MuiGrid-root.Homepage-imagelove6 {
  position: absolute;
  left: 70%;
  opacity: 0.5;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 6em !important;
  height: 2em !important;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.Homepage3-card :after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0cb8b6;
  box-shadow: 0 0 15px #0cb8b6;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  border-radius: 10px 10px 100px 10px;
}
.Homepage3-card:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.MuiPaper-root.MuiCard-root.Homepage3-card.MuiPaper-elevation1.MuiPaper-rounded {
  margin-bottom: 20px;
}
.nav .icon{
    color: #fff;
    margin-right: 5px;
    font-size: 15px;
    background-color: #0cb8b6;
    width: 20px !important;
    height: 19px !important;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: 1px;
}
.nav {
    margin-left: 7% !important;
    padding: 15px 0;
    // background-color: #fff;
}
.navbar1{
  display:flex;
}

.Homepage3-icon {
  font-size: 35px;
  color: #0cb8b6;
  display: inline-block;
  border: 1px solid #0cb8b6;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;

}
.ClientTalk-home{
    background-image: url('https://corf-react.envytheme.com/img/client/client-bg.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.Homepage1-toolBar{
  min-height: 50px;
    align-items: center;
    // z-index: 999;
    // position: absolute;
    color: aliceblue;
    justify-content: space-between;
    /* margin: auto; */
    margin-left: 42%;
    background-color: inherit;
}
.Hompage1-Text {
  text-align: left;
  margin-left: 23% !important;
  margin-top: 14% !important;
  color: white !important;
}

.Homepage1-image{
  width: 200px;
  height: 48px;
  z-index: 999;
  position: absolute;
  margin-left: -1000px;
}
.NavBar-toolBar{
  min-height: 50px;
    align-items: center;
    // z-index: 999;
    // position: absolute;
    color: aliceblue;
    justify-content: space-between;
    /* margin: auto; */
    margin-left: 42%;
    background-color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

.nav-area .navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background-color: #001430;
  // box-shadow: 0 8px 6px -6px rgb(0 0 0 / 40%);
  -webkit-animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
  animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%!important;
}